* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Roboto', sans-serif;
}


:root {
    --darkpurple: #501F3A;
    --lightpurple: #ff6ca9;
    --moderngray: #928888;
    --lightblue: #2e4cd3;
    /* --lightblue: #14A098; */
    --darkblue: #2E266D;
    --darkgray: #363636;
}

/* For Custom Menu */

body {
    background-image: url('../imgs/background\ image\ merge\ 4.png');
}

#experimental {
    font-family: 'Turret Road', cursive;
    color: red;
}


#v1textlogo {
    font-size: 38px;
    text-shadow: 0px 0 , 0 0px var(--lightpurple), 0px 0 var(--lightpurple), 3px -3px var(--lightpurple);
    color: var(--lightblue);
}


#carreelogo {
    font-size: 38px;
    color: white;
}



.herocustomize {
    color: var(--moderngray);
}


#clockdisplay {
    font-size: 38px;
    text-align: right;
    color: white;
}

#menubtn {
    color: black;
    font-style: normal;
    text-decoration: none;
    font-weight: 200;
}

#heromenu {
    width: 80%;
    margin-left: 10%;
    padding-top: .5%;
    padding-bottom: .5%;
}

/*
.sidebar {
    background-color: rgb(46, 38, 129, .98);
}
*/

#customsidebar {
    background-color: var(--moderngray);
    width: 5%;
    position: fixed;
}

#landingFlex {
    padding-top: 20%;
    padding-bottom: 10%;
    width: 90%;
    margin-left: 6%;
}

.countdownDiv {
    color: white;
    padding-left: 50%;
    padding-top: 10%;
    text-align: center;
}

.customsidecolor {
    color: #14A098;
}

#homebutton {
    text-align: center;
}


#v1text {
    text-shadow: 0px 0 , 0 0px var(--lightpurple), 0px 0 var(--lightpurple), 3px -3px var(--lightpurple);
    color: #14A098;
    font-size: 49px;
}



.landing {
    width: 100%;
    background-size: 100%;
    background-image: url('../imgs/background\ image\ merge\ 4.png');
}

.welcome {
    text-align: left;
    position: relative;
    z-index: 2;
    width: 100%;
    color: white;
    padding-top: 20%;
    padding-bottom: 22%;
}

#v1colors {
   
    color: #14A098;
    text-shadow: 0px 0 , 0 0px var(--lightpurple), 0px 0 var(--lightpurple), 5px -5px var(--lightpurple);
    font-size: 75px;
}

.tomy {
    position: relative;
    padding-top: 20%;
}

.thanks {
    margin-top: 37%;
    margin-left: 1%;
    width: 100%;
}

.welcome h2 {
    color: white;
    width: 100%;
    font-size: 18px;
    position: relative;

}

#welcomeh2 {
    font-size: 75px;
}

.hiddenstyle {
    background-color: var(--moderngray);
    height: 100%;
}

.menumargin {
    margin-top: 50%;
}

.menumargin1 {
    margin-top: 50%;
    text-align: center;
}

.menucontrol {
    position: fixed;
    padding-left: 1%;
    padding-top: 1.5%;
    z-index: 5;
}

/* FLEX MENU*/

#smallSidebar {
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
    text-align: center;
    background-color: var(--darkgray);
}


#carreelogosmall {
    font-size: 30px;
    color: white;
}

#v1textlogosmall {
    font-size: 30px;
    text-shadow: 0px 0 , 0 0px var(--lightpurple), 0px 0 var(--lightpurple), 2px -2px var(--lightpurple);
    color: #106b77;
}

#smallMenu {
    width: 85%;
    margin-left: 7.5%;
}

/* For Mobile Landing */
#v1textlogoLanding {
    text-shadow: 0px 0 , 0 0px var(--lightpurple), 0px 0 var(--lightpurple), 3px -3px var(--lightpurple);
    color: #14A098;
    font-size: 40px;
    position: fixed;
}

#mobileLandingCall {
    position: fixed;
    margin-top: 6.5%;
}

.landingBtn {
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    padding-left: 10%;
}

#carreelogoLanding {
    font-size: 40px;
}

.landingMobile {
    background-image: linear-gradient(30deg, var(--lightpurple), 12%, var(--darkblue));
}

.landingWelcome {
    padding-top: 60%;
    width: 80%;
    margin-left: 10%;
    color: white;
}

#welcomeIntro {
    margin-top: 20%;
    font-size: 12px;
}

.countdownSmall {
    margin-left: 25%;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 25%;
    margin-bottom: 15%;
    text-align: center;
    background-color: var(--darkgray);
    border: solid 2px white;
    border-radius: 10px;
}

#welcomeWelcome {
    font-size: 42px;
}

#welcomeSub {
    font-size: 30px;
}

.mobileLandingWave {
   height: 75px;
}

/* Projects */




.wavebackground {
    background: linear-gradient(120deg, var(--darkblue), 15%, var(--darkblue));
    height: 100%;
}

#chessImg {
    height: 335px;
}

.herocolumnpro {
    border: solid 2px var(--darkgray);
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 2%;
    color: var(--darkblue);
}

.herocolumnpro img:hover {
    filter: grayscale(70%);
} 


/* Resume */

.resume {
    width: 100%;
   /* background-image: url('./resumeimage.png'); */
    padding: 10%;
    padding-top: 16%;
    padding-bottom: 10%;
} 

#resumecolor {
    padding: 10%;
}


.herocolumn {
    border: solid 2px var(--darkgray);
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 3%;
    color: var(--darkblue);
}

#profilepic {
    width: 100%;
    border: solid 2px var(--lightpurple);
}

#v1resume {
    color: white;
}


/* Resume Small */
.resumeSmall {
    width: 100%;
    padding: 10%;
}

#carousel {
    border: solid 3px black;
    border-width: 3px 0px 3px 0px;
}

#carouselImg {
    width: 110px;
}

#carouselImgReact {
    width: 70px;
}

#carouselImgAWS {
    height: 50px;
}

#progressSmall {
    background-color: var(--darkgray);
}



 /* Projects  */

    .projects {
        width: 100%;
        padding: 15%;
        padding-top: 10%;
       /* background: linear-gradient(60deg, var(--darkpurple), 79%, var(--lightblue)); */
    }

    .resumewave {
        background: linear-gradient(140deg, var(--darkpurple), 79%, var(--lightblue));
    }

    #v1projects {
        color: #14A098;
        text-shadow: 0px 0 , 0 0px var(--lightpurple), 0px 0 var(--lightpurple), 3px -2px var(--lightpurple);
    }


    .herocolumnpro img {
        width: 100%;
    }

    .herocolumnpro p {
        padding-top: 1%;
        font-size: 20px;
    }
  /* Show Me */

  .showme {
    width: 100%;
    padding: 8%;
    text-align: center;
    background-color: #474747;
    padding-top: 7%;
  }

  .showme span {
    padding-bottom: 7%;
  }

  .heroshowme {
    padding: 3%;
    width: 100%;
  }

  .narrowtext {
    width: 70%;
    margin-left: 15%;
  }
  
  .column1js h3 {
    margin-bottom: 2%;
  }

  #pswdsubmit {
    margin-top: 3%;
  }

  #newpswd {
    width: 70%;
    margin-left: 15%;
    height: 20%;
    overflow-wrap: break-word;
    display: block;
  }

  .pswdresponse {
    margin-top: 20%;
    width: 70%;
    margin-left: 15%;
    height: 30%;
    background-color: var(--lightpurple);
  }


  /* Footer */

  .theforbiddenzone {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #363636;
    border: solid 3px black;
    border-width: 3px 0px 0px 0px;
  }

  .zonetext {
    width: 50%;
    margin-left: 25%;
    padding: 3%;
  }

  #forbiddenButton {
    padding-top: 6%;
  }

  .construction {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.v6IKgF3rAcBzGb-28OH7cgHaAr%26pid%3DApi&f=1&ipt=695ae3d955ed18b24273ed5e4753e95e75c0e7ed655f4f65ec6b60cff0506b06&ipo=images');
  }


  @media screen and (max-width: 700px) {
    #resumecolor {
        padding: 0%;
    }
    .resume {
        padding: 2%;
    }
    #profilepic {
        display: none;
    }
 
  } 


  /*

  @media screen and (min-width: 741px) {
    .sidebar {
        display: block;
    }
  }

  @media screen and (max-width: 740px) {
    .sidebar {
        display: none;
    }
  }

  